@font-face {
  font-family: "Iosevka Regular";
  src: url("fonts/iosevka-regular.ttf");
}

body {
  margin: 0; padding: 0;
  background: #FFFFFF;
}

body > header {
  display: flex; flex-flow: row nowrap;
  width: 100%; height: 30px;
  border-bottom: 2px solid #7393B3;
  position: fixed; top: 0; left: 0;
}

/* Button for the taskbar (and also dropdown and sidebar buttons) */
.taskbarButton {
  height: 30px;
  margin: 0; padding: 2px 5px;
  background: none; outline: none; border: none;

  font-family: "Iosevka Regular";
  font-size: 20px; color: #7393B3;

  cursor: pointer;
}
.taskbarButton:hover {
  background: #7393B3;
  color: #FFFFFF;
}
.dropdownButton {
  text-align: left;
  border-left: 2px solid #7393B3;
  border-right: 2px solid #7393B3;
}

/* Taskbar dropdown menu */
body > header > div > ul {
  display: none; flex-flow: column nowrap;
  list-style-type: none;
  margin: 0; padding: 0;
  background: #FFFFFF;
  position: absolute;
}

/* Spacer for taskbar button */
body > header > spacer {
  height: 30px; width: 2px;
  background: #7393B3;
}

/* Sidebar to view playlists */
#sidebar {
  height: calc(100% - 32px); width: 122px;
  border-right: 2px solid #7393B3;
  position: fixed; top: 32px; left: 0;
  z-index: -9998;
}
.sidebarButton {
  width: 122px;
  font-size: 18px;
}

#errorMessage {
  display: none;
  margin: 0; padding: 2px 5px;
  font-family: "Iosevka Regular";
  font-size: 20px; color: red;
  position: fixed; bottom: 10px;
  left: 50%; transform: translateX(-50%);
}

/* <main> holds the song list and music controls */
#main {
  height: calc(100% - 32px); width: calc(100% - 124px);
  position: fixed; top: 32px; right: 0;
  z-index: -9999;
}

#songlist {
  height: 100%; width: 100%;
  list-style-type: none;
  margin: 0; padding: 0;
  display: flex; flex-flow: column nowrap;
  overflow-y: auto;
}

.songButton {
  text-align: left;
  height: auto;
  padding: 5px;
}

#controls {
  display: none;
  height: 60px; width: 100%;
  border-top: 2px solid #7393B3;
  position: absolute; bottom: 0; right: 0;
}

/* Box for song slider, play, paurse, previous, next, and shuffle */
#songControl
{
  width: 300px; height: 100%;
  position: absolute;
  left: 50%; transform: translateX(-50%);
}

/* Slider class for song and volume sliders */
.slider {
  /* Overrides default CSS styling for the slider */
  -webkit-appearance: none;
  appearance: none;

  width: 100%; height: 2px;

  background: #7393B3;
  border: none; outline: none;
}
/* Slider thumb (what the user clicks to adjust song or volume) */
.slider::-webkit-slider-thumb {
  /* Overrides default CSS styling for the slider */
  -webkit-appearance: none;
  appearance: none;

  height: 15px; width: 15px;
  background: #7393B3;
  border-radius: 10px;

  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover { background: #51677D; }
