@font-face
{
  font-family: "Iosevka Regular";
  src: url("./fonts/iosevka-regular.ttf");
}
@font-face
{
  font-family: "Iosevka Bold";
  src: url("./fonts/iosevka-bold.ttf");
}

::placeholder { color: #008080; }
::-ms-input-placeholder { color: #008080; }

body
{
  margin: 0; padding: 0;
  background: #FFFFFF;
}

/* Taskbar */
body > header
{
  display: flex;
  flex-flow: row nowrap;
  height: 30px; width: 100%;
  border-bottom: 2px solid #008080;
  position: fixed; top: 0; left: 0;
}

/* Taskbar & taskbar dropdown button */
.taskbarButton
{
  height: 30px;
  margin: 0; padding: 2px 5px;
  background: none; outline: none; border: none;

  font-family: "Iosevka Regular";
  font-size: 20px; color: #008080;

  cursor: pointer;
}
.taskbarButton:hover
{
  background: #008080;
  color: #FFFFFF;
}

/* Taskbar dropdown */
body > header > div > ul
{
  display: none;
  flex-flow: column nowrap;
  margin: 0; padding: 0;
  border: 2px solid #008080;
  position: absolute;
  background: #FFFFFF;
}
/* Taskbar button dropdown */
.taskbarDropdownButton { text-align: left; }

/* Spacer for taskbar buttons */
body > header > spacer
{
  height: 30px; width: 2px;
  background: #008080;
}

/* Sidebar for playlists */
#sidebar
{
  height: calc(100% - 32px); width: 150px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0; padding: 0;
  border-right: 2px solid #008080;
  position: fixed; top: 32px; left: 0;
  overflow-y: auto;
  z-index: -9999;
}

/* Sidebar buttons */
.sidebarButton { font-size: 18px; }

/* Song list */
#songlist
{
  height: calc(100% - 32px); width: calc(100% - 152px);
  position: fixed; top: 32px; right: 0;
  overflow-y: auto;
  overflow-x: none;
}

/* A song button */
#songlist > button
{
  width: 100%;
  background: none; outline: none; border: none;
  margin: 0; padding: 7px 3px;

  font-family: "Iosevka Regular";
  font-size: 16px; color: #008080;
  text-align: left;

  cursor: pointer;
}
#songlist > button:hover
{
  background: #008080;
  color: #FFFFFF;
}

/* Directory popup div box */
#directoryPopup
{
  display: none;
  flex-flow: row nowrap;
  position: absolute; bottom: 10px;
  left: 50%; transform: translateX(-50%);
}

/* Directory popup error message */
#directoryPopupErrorMessage
{
  width: 300px;
  display: none;
  font-family: "Iosevka Bold";
  font-size: 18px; color: #E30B5C;
  position: absolute; bottom: 20px;
  left: 50%; transform: translateX(-50%);
  text-align: center;
}

/* Directory popup input */
#directoryPopupInput
{
  width: 260px;

  padding: 2px 5px;

  background: #FFFFFF;
  outline: none;
  border: 2px solid #008080;

  font-family: "Iosevka Regular";
  font-size: 18px; color: #008080;
}

/* Directory popup button */
#directoryPopup > button
{
  background: #FFFFFF; outline: none;
  border: 2px solid #008080;

  font-family: "Iosevka Regular";
  font-size: 18px; color: #008080;

  cursor: pointer;
}
#directoryPopup > button:hover
{
  background: #008080;
  color: #FFFFFF;
}
